{# SUBMIT BUTTON
{{ dump(attributes) }}
{{ dump(attributes['id']) }}
{{ dump(attributes['id']) }} #}
{# {{ attributes['id'] }} #}
{# {% if attributes['id'] == 'edit-submit' %}
    BOTTOM SUBMIT ONLY
{% else %}
   bubble <button{{ attributes }}>{{ safe_value_label | raw }}</button>{{ children }}
{% endif %} #}

{# We create a psuedo submit button that first fetches the recaptcha code, puts it in the hidden field and then triggers
the main submit with a .click event. #}
<button type="button"
    class="btn btn-primary" 
    id="recaptcha-submit"
    >
    Submit
</button>

<div class="recaptchaInvalid">
    Error: reCAPTCHA is not defined.
</div>

{# this is the original templated submit button code  #}
{# <button{{ attributes }}>{{ safe_value_label | raw }}</button> #}

{# HIDE the default submit button  #}
<div class="hidden-submit">
    <button 
        class="webform-button--submit button button--primary js-form-submit form-submit btn btn-primary" 
        data-drupal-selector="edit-submit" 
        type="submit" id="edit-submit" 
        name="op" value="Submit">Submit</button>
</div>